<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-material/paper-material-shared-styles.html">
<link rel="import" href="../paper-progress/paper-progress.html">
<link rel="import" href="../font-roboto/roboto.html">
<script src = "../jquery/dist/jquery.min.js"></script>
<script src="../chart.js/dist/Chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<!--
`feasability-report`


@demo demo/index.html
-->

<dom-module id="feasability-report">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
        --accent-color: var(--app-primary-color, rgba(82,41,60,1));
        --width: 80%;
        --halfWidth: 40%;
        color: gray;
        --font-size: 12px;
        font-size: var(--font-size);
      }


      .hidden {
        max-height: 0px;
        transform: scale(0,0);
      }

      p {
        max-height: 64px;
        transform: scale(1,1);
        transition: all .5s ease-in-out;
        font-size: 16px;
        margin: 16px 0 0 0;
      }

      h1, h2 {
        color: var(--accent-color);
      }

      .half {
        display: inline-block;
        width: var(--halfWidth);
        margin: 0 auto 0 auto;
      }


      hr {
        width: var(--width);
      }

      .full {
        width: var(--width);
        margin: 0 auto 0 auto;
      }
      .title {
        text-align: center;
      }
      table {
        width: var(--width);
        margin: 32px auto 64px auto;
      }
      ul {
        padding: 0;
        margin: 0;
      }
      li {
        list-style: none;
      }
      td, th {
        text-align: center;
        font-size: var(--font-size);
        padding: 4px;
      }

      tr:nth-child(even) {
        background-color: rgba(0,0,0,0.1);
      }
      th {
        border-bottom: 1px solid var(--accent-color);
      }
      .header-text {
        font-size: 32px;
        color: var(--accent-color);
      }
      #header-container {
        border-bottom: 2px solid var(--accent-color);
      }
      #header-container > div {
        width: 100%
      }
    </style>

    <div id="header-container">
      <div><img src="[[data.uiprefs.logo]]" height="64px" width="auto"></div>
      <div class="header-text"> 
        [[data.profile.companyname]]
      </div>
    </div>

    <br>

     <h2>Property Details</h2>
      <ul>
        <li>Long-depreciation property costs: <strong>{{_getLongAssets(data)}}</strong></li>
        <li>Shorter-depreciation property costs: <strong>{{_getShortAssets(data)}}</strong></li>
        <li>In service since <strong>{{_getDate(data)}}</strong></li>
        <li>Your tax rate: <strong>{{_formatForPercentage(data.inputs.effectivetaxrate)}}</strong></li>
      </ul>
      <br><br><hr>
      <h2>Estimated Feasibility Summary</h2>
      <ul>
        <li>First year cash savings: <strong>{{_formatForMoney(data.report.firstYearSavings)}}</strong></li>
        <li>Five year cash savings: <strong>{{_formatForMoney(data.report.firstFiveYears)}}</strong></li>
        <li>10 year NPV cash savings: <strong>{{_formatForMoney(data.report.tenyrnpv)}}</strong></li>
        <li>10 year accumulative return of savings: <strong>{{_formatForMoney(data.report.tenyrroi)}}</strong></li>
      </ul>
      <br><br><hr>
      <h2>Estimated Feasibility Detail</h2>
      <div class="half">
        <canvas id="preSeg"></canvas> 
      </div>
      <div class="half">
        <canvas id="postSeg"></canvas>
      </div>
      <br>
      <div class="full">
        <canvas id="myChart"></canvas>
      </div>
      <table>
        <thead>
          <th>Year of Acquisition</th>
          <th>Year</th>
          <th>Pre CSS Depreciation</th>
          <th>Post CSS Depreciation</th>
          <th>Depreciation Difference</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{data.objectReport}}">
            <tr>
              <td>{{item.yearOfService}}</td>
              <td>{{item.year}}</td>
              <td>{{_formatForMoney(item.preSeg)}}</td>
              <td>{{_formatForMoney(item.posttotal)}}</td>
              <td>{{_formatForMoney(item.depreciationChange)}}</td>
            </tr>
          </template>
        </tbody>
      </table>
      <br>
      <div class="full">
        <canvas id="taxes"></canvas>
      </div>
      <table>
        <thead>
          <th>Year of Acquisition</th>
          <th>Year</th>
          <th>Pre CSS Depreciation</th>
          <th>Post CSS Depreciation</th>
          <th>Depreciation Difference</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{data.objectReport}}">
            <tr>
              <td>{{item.yearOfService}}</td>
              <td>{{item.year}}</td>
              <td>{{_formatForMoney(item.preSeg)}}</td>
              <td>{{_formatForMoney(item.posttotal)}}</td>
              <td>{{_formatForMoney(item.depreciationChange)}}</td>
            </tr>
          </template>
        </tbody>
      </table>
      <br>
      <div class="full">
        <canvas id="roi"></canvas>
      </div>
      <table>
        <thead>
          <th>Year of Acquisition</th>
          <th>Year</th>
          <th>Cash Savings</th>
          <th>ROI at 6%</th>
          <th>Accumulative ROI</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{data.objectReport}}">
            <tr>
              <td>{{item.yearOfService}}</td>
              <td>{{item.year}}</td>
              <td>{{_formatForMoney(item.taxSavings)}}</td>
              <td>{{_formatForMoney(item.roi)}}</td>
              <td>{{_formatForMoney(item.accumulativeROI)}}</td>
            </tr>
          </template>
        </tbody>
      </table>

  </template>

  <script>
    var formatter = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: 'USD',
      minimumFractionDigits: 2,
    });
    var progressAnimate;

    var ncPrimaryFull, ncPrimaryThreeQuarter, ncPrimaryHalf, ncPrimaryQuarter; 
    var ncSecondaryFull, ncSeconaryThreeQuarter, ncSecondaryHalf, ncSecondaryQuarter;

    var hexToRgba = function(hex, opacity) {
      hex = hex.replace('#', ''); 
      opacity = opacity || 100; 

      r = parseInt(hex.substring(0,2), 16);
      g = parseInt(hex.substring(2,4), 16);
      b = parseInt(hex.substring(4,6), 16);

      result = 'rgba('+ r +',' + g +','+ b+ ',' + (opacity /100) +')';
      console.log(result);
      return result;
    };


    var myChart = null;
    var myChart2 = null;
    var myChart3 = null;

    Polymer({

      is: 'feasability-report',

      attached: function() {
        var appElement = document.querySelector('my-app');
        var primary = appElement.customStyle['--app-primary-color'];
        var secondary = appElement.customStyle['--app-secondary-color'];

        console.log(primary);
        console.log(secondary);

        ncPrimaryFull = hexToRgba(primary, 100);
        ncPrimaryThreeQuarter = hexToRgba(primary, 75);
        ncPrimaryHalf = hexToRgba(primary, 50);
        ncPrimaryQuarter = hexToRgba(primary, 25);
 
        ncSeconaryFull = hexToRgba(secondary, 100);
        ncSecondaryThreeQuarter = hexToRgba(secondary, 75);
        ncSecondaryHalf = hexToRgba(secondary, 50);
        ncSecondaryQuarter = hexToRgba(secondary, 25);       
        
        
        Chart.defaults.global.defaultFontSize = 12;
        Chart.defaults.global.title.fontSize = 16;
        Chart.defaults.global.title.fontColor = ncPrimaryFull; 
        Chart.defaults.global.defaultColor = ncPrimaryFull;
      },

      properties: {
        data: {
          type: Object,
          observer: '_handleData'
        },
      },

      _formatForMoney: function(s) {
        return formatter.format(parseInt(s));
      },

      _formatForPercentage: function(s) {
        return parseFloat(s) * 100 + '%';
      },

      _getDate: function(data) {
        if (!data) { return; }
        return     moment().month(data.inputs.pismonth)
            .format("MMM") + ' of ' + data.inputs.pisyear;
      },

      _getLongAssets: function(data, pre) {
        if (!data) { return; }
        if (!pre) {
          pre = true;
        }
        if (pre === true) {
          return this._formatForMoney(data.report.preSeg[0]);
        }
        return this._formatForMoney(data.report.postSeg[0]);
      },

      _getShortAssets: function(data, pre) {
        if (!data) { return; }
        if (!pre) {
          pre = true;
        }
        console.log(pre);
        if (pre === true) {
          return this._formatForMoney(data.report.preSeg[3] +
                 data.report.preSeg[2] +
                 data.report.preSeg[1]);
        }
        return this._formatForMoney(data.report.postSeg[3] +
               data.report.postSeg[2] +
               data.report.postSeg[1]);
      },

      _handleNetworkError: function(e) {
        this.fire(
          'nuco-network-error',
          { id: this.id, error: e }
        );
      },

      _handleData: function(r) {
        console.log(r);
        console.log(this.data.report);
        var preCtx = this.$.preSeg;

        
        var preSegChart = new Chart(preCtx, {
          type: 'doughnut',
          data: {
            labels: ['39 year', '15 year', '7 year', '5 year'],
            datasets: [
              {
                data: this.data.report.preSeg,

                backgroundColor: [
                  ncSecondaryFull,
                  ncPrimaryHalf, 
                  ncPrimaryThreeQuarter, 
                  ncPrimaryFull 
                ],
              }
            ]
          },
          options: {
            cutoutPercentage: 67,
            title: {
              fullWidth: false,
              display: true,
              text: "Pre Cost Segregation" 
            },
            legend: {
              fullWidth: false,
              position: "right",
              labels: {
                boxWidth: 5,
                padding: 5,
              }
            },
          }
        });
        var postCtx = this.$.postSeg;
        var postSegChart = new Chart(postCtx, {
          type: 'doughnut',
          data: {
            labels: ['39 year', '15 year', '7 year', '5 year'],
            datasets: [
              {
                data: this.data.report.postSeg,
                backgroundColor: [
                  ncSecondaryFull,
                  ncPrimaryHalf, 
                  ncPrimaryThreeQuarter, 
                  ncPrimaryFull 
                ],
              }
            ]
          },
          options: {
            cutoutPercentage: 67,
            title: {
              fullWidth: false,
              display: true,
              text: "Post Cost Segregation"
            },
            legend: {
              fullWidth: false,
              position: "right",
              labels: {
                boxWidth: 5,
                padding: 5,
              }
            },
          }
        });



        var ctx = this.$.myChart;

        if (myChart && myChart.destroy) {
          console.log('destroying');
          myChart.destroy();
        }

        myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: this.data.report.year,
            datasets: [
            {
              label: 'Post Depreciation Cost',
              data: this.data.report.postDepreciation.total,
              backgroundColor: ncPrimaryHalf,
              borderWidth: 0
            },{
              label: 'Pre Depreciation Cost',
              data: this.data.report.preDepreciation,
              backgroundColor: ncSecondaryHalf,
              borderWidth: 0
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero:true
                }
              }],
              xAxes: [{
                stacked: true,
                ticks: {
                  maxTicksLimit: 12
                }
              }],
            },
            legend: {
              display: true,
              boxWidth: 5,
              padding: 5,

            },
            title: {
              display: true,
              text: "Depreciation Cost Comparison"
            }
          }
        });


       
        if (myChart2 && myChart2.destroy) {
          console.log('destroying');
          myChart2.destroy();
        }
        var taxctx = this.$.taxes;
        myChart2 = new Chart(taxctx, {
          type: 'bar',
          data: {
            labels: this.data.report.year,
            datasets: [
            {
              label: 'NPV of Tax Savings',
              type: 'bar',
              yAxisID: "y-axis-1",
              data: this.data.report.defrredTaxesNPV,
              backgroundColor: ncSecondaryHalf,
              borderWidth: 0
            },
            {
              label: 'Tax Savings',
              type: 'bar',
              yAxisID: "y-axis-1",
              data: this.data.report.taxSavings,
              backgroundColor: ncSecondaryThreeQuarter,
              borderWidth: 0
            },
            {
              label: 'Accumulated NPV',
              type: 'line',
              yAxisID: "y-axis-1",
              data: this.data.report.accumulativeDeferredTaxesNPV,
              backgroundColor: ncPrimaryQuarter,
              borderWidth: 0
            },
            ]
          },
          options: {
            scales: {
              xAxes: [{
                stacked: true,
                ticks: {
                }
              }],
              yAxes: [{
                type: "linear",
                display: true,
                poition: "left",
                id: "y-axis-1",
                ticks: {
                }
              }]
            },
            legend: {
              display: true,
              boxWidth: 5,
              padding: 5,

            },
            title: {
              display: true,
              text: "Deferred Tax Savings"
            }
          }
        });


       var roitx = this.$.roi;
        
        if (myChart3 && myChart3.destroy) {
          console.log('destroying');
          myChart3.destroy();
        }
        
        myChart3 = new Chart(roitx, {
          type: 'bar',
          data: {
            labels: this.data.report.year,
            datasets: [
            {
              label: 'ROI',
              type: 'bar',
              yAxisID: "y-axis-1",
              data: this.data.report.roi,
              backgroundColor: ncSecondaryThreeQuarter,
              borderWidth: 0
            },
            {
              label: 'Cash Savings',
              type: 'bar',
              yAxisID: "y-axis-1",
              data: this.data.report.taxSavings,
              backgroundColor: ncSecondaryHalf,
              borderWidth: 0
            },

            {
              label: 'Accumulated ROI',
              type: 'line',
              yAxisID: "y-axis-1",
              data: this.data.report.accumulativeROI,
              backgroundColor: ncPrimaryQuarter,
              borderWidth: 0
            },
            ]
          },
          options: {
            scales: {
              xAxes: [{
                stacked: true,
                ticks: {
                }
              }],
              yAxes: [{
                type: "linear",
                display: true,
                poition: "left",
                id: "y-axis-1",
                ticks: {
                }
              }]
            },
            legend: {
              display: true,
              boxWidth: 5,
              padding: 5,

            },
            title: {
              display: true,
              text: "Deferred Tax Savings"
            }
          }
        });

      },

    });
  </script>
</dom-module>
